.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}
.heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-bottom: 10px;
}

.button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
}
.button:hover {
  background-color: #45a049;
}
